* {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    padding:0;
    margin:0;
    list-style: none;
    border:0;
}

html { 
    min-width: 320px; 
    background: #E5E5E5;
}

.container {
    background: #D4E4FA;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

h2 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.nav-cabecalho {
    display: none;
}

.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background: #E5E5E5;
}


.julia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre {
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.sobre-dados p{
    margin: 2% 0;
}

.sobre img {
    width: 30%;
    border-radius: 70%;
    display: inline-block;
    padding: 3%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    line-height: 16px;
}

nav .link {
    display: flex;
    text-decoration: none;
    font-weight: bold;
}

.sobre nav img {
display: none;
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3% 1%;
}

.sobre-mim p {
    padding-top: 2%;
}

.sobre-mim img {
    border-radius: 0%;
    padding-top: 3%;
}

.skills{
    padding: 3% 1%;
}

.skills h2 {
    text-align: center;
    padding: 1%;
}

.skills-line {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 5%;
}

.skills-box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: #FFFFFF;
    width: 40%;
    height: 17vh;
    margin: 2%;
    padding: 3%;
}

.skills-img{
    width: 70%;
}

.outras-img {
    width: 30%;
}


.formacao {
    padding: 10% 10%;
    text-align: center;
    /* top, right, bottom, left */
}

.formacao-line {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.formacao-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 90%;
    padding: 10%;
    margin-top: 10%;
    margin-bottom: 3%;
}


.formacao-box ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25vh;
}

.formacao-box h2, .formacao-box p {
    margin: 2%;
}

.btn {
    padding: 2vh;
    border-radius: 26px;
    text-decoration: none;
    margin: 2%;
    background-color: #EAF2FD;
    border: 2px solid;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

.formacao img {
    width: 20vw;
}

.alura img {
    width: 13vw;
}

.experiencia {
    padding: 10% 10%;
}

.experiencia-titulo{
    text-align: center;
    padding: 3% 1%;
}

.xp-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    margin: 10% 0;
}

#javaidoar{
width: 100%;
}

.experiencia img {
    width: 100%;
}

.buttons {
    display: flex;
    align-items: center;
    width: 300px;
}

.btn-rep {
    padding: 2vh;
    text-decoration: none;
    color: #2A7AE4;
    background-color: #EAF2FD;
    border: 2px solid;
    cursor: pointer;
    text-align: center;
}

.btn-rep:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

.btn-rep-azul {
    padding: 2vh;
    color: #FFFFFF;
    text-decoration: none;
    margin: 2%;
    background-color: #2A7AE4;
    border: 2px solid #2A7AE4;
    cursor: pointer;
    text-align: center;
}

.btn-rep-azul:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

footer {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


footer h3 {
    padding: 3% 0;
}

form {
    width: 100%;
    margin: 0 0 10px
}


.input-padrao {
    resize:none;
    display: block;
    margin: 0 0 20px;
    padding: 3% 2%;
    width: 50%;
}

.enviar {
    padding: 3%;
    background: #2A7AE4;
    color: white;
    font-size: 14px;
    line-height: 16px;
    border: none;
    transition: 1s all;
    /* faz uma transição de todos os elementos com atraso de 1s */

    cursor: pointer;
}

.enviar:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: #FFFFFF;
}

/* media pro tablet */

@media screen and (min-width: 768px){

    h1 {
        font-size: 27px;
        line-height: 30px;
    }
    
    h2 {
        font-size: 24px;
        line-height: 20px;
    }
    
    h3 {
        font-size: 21px;
        line-height: 20px;
    }
    p {
        font-size: 18px;
        line-height: 20px;
    }

    .apresentacao{
        padding: 2%
    }

    .sobre img {
        width: 20%;
        border-radius: 70%;
        display: flex;
    }
    .sobre{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 2%;
    }
    .sobre-dados{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    nav {
        font-size: 17px;
    }

    .sobre nav img {
        display: flex;
        border-radius: 0%;
        width: 2vw;
    }

    .skills-box {
        width: 23%;
        height: 10vh;
    }
    .skills-line {
        padding: 0%;
        width: 100%;
    }

    .descricao-xp{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 150px;
    }
    .formacao {
        padding: 5% 2%;
        text-align: center;
        /* top, right, bottom, left */
    }
    .formacao-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    
    .formacao-box {
        width: 25%;
        padding: 10%;
        margin: 5% 2% 3% 2%;
    }
    
    
    .formacao-box ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 10vh;
    }
        

    form {
        width: 90%;
    }
    .input-padrao {
        width: 100%;
    }
}


/* media pro computador*/

@media screen and (min-width: 1024px){
    h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
    }
    
    h2 {
        font-size: 40px;
        line-height: 30px;
        font-weight: 700;
    }
    
    h3 {
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
    }
    
    p {
        font-size: 25px;
        line-height: 25px;
        font-weight: 400;
    }

    a, .curriculoPDF{
        font-size: 25px;
        line-height: 25px;
        text-decoration: none;
    }
    .nav-cabecalho{
        display: flex;
        text-align: center;
        margin-right: 1%;
        margin-left: 1%;
        width: 900px;
        font-size: 22px;
        line-height: 25px;
        font-weight: 400;
    }
    .nav-cabecalho #negrito{
        font-weight: bold;
    }

    .apresentacao {
        position: fixed;
        width: 97%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1%;
    }

    .email{
        display: none;
    }

    .sobre-dados nav{
        width: 60%;
        font-size: 20px;
    }

    .sobre-mim {
        padding: 5% 1%;
    }

    .btn {
        font-size: 23px;
    }
    

    .experiencia{
        padding: 2%;
    }

    .buttons {
        width: 500px;
    }

    .xp-box img {
        width: 50%;
    }

    .xp-box {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: 3% 0;
    }

    .descricao-xp{
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding: 0% 5%;
    }

    #javaidoar{
        width: 50%;
    }

    .input-padrao {
        font-size: 23px;
        line-height: 16px;
    }
    
    .enviar {
        font-size: 20px;
        line-height: 16px;
    }
    
}